{% extends 'base.html' %}


{% block content %}
<p class="label-text"> {{ label_status }} </p>

    <h1>Adress IP et MAC</h1>
    <button class="refresh-button">
        <i class="fas fa-sync-alt"></i>
    </button>

    <div class="mb1">
        <p><b>Date de derniere execution du script :</b> {{ last_execution_date }}</p>


        <div class="legend">
            <div class="legend-item">
                <div class="green-square"></div>
                <span>New</span>
            </div>
            <div class="legend-item">
                <div class="orange-square"></div>
                <span>Inactif (+15min)</span>
            </div>
        </div>

        <table>
            {% for ligne in lignes %}
            <tr>
                {% for valeur in ligne %}
                <td>{{ valeur }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

    </div>
 


{% endblock %}
