<!DOCTYPE html>
<html>
<head>
    <title>SCRAT - {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
    <link rel="icon" type="image/png" href="../static/media/favicon.png">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- <meta http-equiv="refresh" content="60"> -->
</head>
<body>
    <div class="bandeau_top">
        <div class="logo">
            <img src="../static/media/logo.png" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/kpi">Dashboard KPI</a></li>
                <li><a href="/dashboard_ipmac">Adress IP/MAC</a></li>
                <li><a href="/dashboard_protocol">Protocol</a></li>
                <li><a href="/hardening">Hardening</a></li>
            </ul>
        </nav>
    </div>

    <div class="content mb1">
        {% block content %}{% endblock %}
    </div>

    <footer>
        Projet sonde - M2 SSIR - 2022/2023
    </footer>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
<script src="../static/js/script_statut_service_color.js"></script>
<script src="../static/js/script_color_ipmac.js"></script>
<script src="../static/js/script_refresh.js"></script>


