{% extends 'base.html' %}

{% block content %}
<p class="label-text"> {{ label_status }} </p>

    <div class="mb1">
        <h1>Hardening</h1>

        <div class="mb1 button-container-harden">
            <form method="POST" action="/scan_hardening" onsubmit="showSpinner()">
                <button class="btn-harden" type="submit">Scan</button>
            </form>
            <form method="POST" action="/#">
                <button class="btn-harden" type="submit" disabled>Actions de durcissement</button>
            </form>
            <div id="spinner" class="spinner"></div>
        </div>

    </div>

    <div class="mb1">
        <h2>Historical Scans</h2>

        <table>
            <tr>
                <th>Datetime</th>
                <th>Output</th>
            </tr>
            {% for scan_result in historical_scans %}
            <tr>
                <td>{{ scan_result.datetime }}</td>
                <td>{{ scan_result.output }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <script>
        function showSpinner() {
        var spinner = document.getElementById('spinner');
        spinner.style.display = 'inline-block';
        }

        function hideSpinner() {
        var spinner = document.getElementById('spinner');
        spinner.style.display = 'none';
        }
    </script>

{% endblock %}