{% extends 'base.html' %}

{% block content %}
<p class="label-text"> {{ label_status }} </p>

  <div class="mb1">
        <h1>Configuration</h1>

        <p><b>Nom de l'analyse en cours :</b> {{ reseau_name }} </p>

        <form method="post" action="/start_analysis">
            <div class="form-group">
              <label for="user_input"><b>Saisir un nom pour l'analyse :</b></label>
              <input type="text" name="user_input" id="user_input" placeholder="Nom">
            </div>
            <input class="btn-start" type="submit" value="Lancer l'analyse">
          </form>
    </div>

    <div class="mb1">
        <h1>Etat de fonctionnement</h1>

        <p><b>Etat des services :</b> {{ etat }}</p>
    </div>


{% endblock %}
