{% extends 'base.html' %}

{% block content %}
<p class="label-text"> {{ label_status }} </p>

    <div class="mb1">
        <h1>Dashboard KPI</h1>
        <button class="refresh-button">
            <i class="fas fa-sync-alt"></i>
        </button>
    </div>
    <div class="mb1">
        <h2>Graphique IP/MAC</h2>
        <p> {{ info }}</p>
        <div>{{ plot_html_01|safe }}</div>
    </div>

    <div class="mb1">
        <h2>Graphique PORT</h2>
        <p> {{ info2 }}</p>
        <div>{{ plot_html_02|safe }}</div>
        
        <p> {{ info3}}</p>
        <div>{{ plot_html_03|safe }}</div>
    </div>

{% endblock %}
