{% extends 'base.html' %}


{% block content %}
<p class="label-text"> {{ label_status }} </p>


    <h1>Protocol / Port</h1>
    <button class="refresh-button">
        <i class="fas fa-sync-alt"></i>
    </button>


    <div class="mb1">
        <h2>Saisie de la liste des ports</h2>
        <form action="/dashboard_protocol" method="post">
            <label for="protocole">Port :</label>
            <input type="text" name="Port" id="protocole">
            <input type="submit" value="Ajouter">
        </form>
        <br/>
        <h3>Ports autorisés :</h3>
        <ul class="protocol">
            {% for protocole in protocoles %}
                <li>
                    <span class="protocol-value">{{ protocole }}</span>
                    <form action="/dashboard_protocol" method="post">
                        <button type="submit" name="supprimer" value="{{ protocole }}">❌</button>
                    </form>
                </li>
            {% endfor %}
        </ul>

    </div>

    <div class="mb1">
        <h2>Alertes</h2>

        <table>
            {% for ligne in lignes %}
            <tr>
                {% for valeur in ligne %}
                <td>{{ valeur }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

    </div>
    

{% endblock %}
