{% extends 'base.html' %}


{% block content %}

    <h1>Protocol</h1>
    <button class="refresh-button">
        <i class="fas fa-sync-alt"></i>
    </button>

    <!-- FIXME: a industrialiser/module -->
    <div class="mb1">
        <p><b>Date de derniere execution du script :</b> {{ last_execution_date }}</p>

        <table>
            {% for ligne in lignes %}
            <tr>
                <td>{{ ligne }}</td>
            </tr>
            {% endfor %}
        </table>
        
    </div>
 
    <div>
        <h2>TOP</h2>
        <table>
            <tr>
                <th>Protocole</th>
                <th>Occurrences</th>
            </tr>
            {% for protocol, count in result_table %}
            <tr>
                <td>{{ protocol }}</td>
                <td>{{ count }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>


{% endblock %}
