@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.bandeau_top {
    background-color: black;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #db4f00;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: #000000;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    margin: 4px;
    text-decoration: none;
}
nav li a:hover {
    color: #ecd7c7;
}



header {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 20px;
}
.logo img {
    width: 500px;
    height: auto;
    margin: 20px;
}



.form-group {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    margin-bottom: 10px;
}
label {
    margin-bottom: 5px;
}
.btn-start{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}
.btn-start:hover {
    background-color: #e6e6e6;
}
.btn-start:active {
    background-color: #d9d9d9;
}



  

footer{
    margin-top: 50px;
    background: black;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}


table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}

.content {
    margin-right: 20px;
    margin-left: 20px;
}

.mt1 {
    margin-top: 100px;
}

.mb1 {
    margin-bottom: 75px;
}





.legend {
    display: flex;
    align-items: center;
}

.legend-item {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.green-square {
    width: 15px;
    height: 15px;
    background-color: green;
    margin-right: 5px;
}

.orange-square {
    width: 15px;
    height: 15px;
    background-color: orange;
    margin-right: 5px;
}



h1 {
    display: inline-block;  /* Permet au h1 d'être sur la même ligne */
}  
.refresh-button {
    display: inline-block;  /* Permet au bouton d'être sur la même ligne */
    vertical-align: middle; /* Alignement vertical avec le h1 */
    margin-left: 14px;
    margin-bottom: 8px;
}



.modebar-container{
    display: none;
}
.modebar-btn{
    display: none;
}


 
.label-text {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
}




  
ul.protocol {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
ul.protocol li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}
ul.protocol li .protocol-value {
    margin-bottom: 5px;
}
ul.protocol button {
    margin-left: 5px;
}


.btn-harden {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;


}
.btn-harden:hover {
    background-color: #e6e6e6;
}
.btn-harden:active {
    background-color: #d9d9d9;
}

.button-container-harden {
    display: flex;
}




.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: none; /* Pour masquer le spinner par défaut */
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  